* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --cor-principal-roxo: #800080;
    --background-search-bar: #680068;
    --branco: #ffffff;
}

/* Header */

.nav-logo img {
    padding: 10px;
}

.nav-bg {
    height: 112px;
    max-width: 100%;
    background-color: var(--cor-principal-roxo);
}

.menu-mobile-icon {
    display: none;
}

.search-mobile-icon {
    display: none;
}

.nav-menu {
    max-width: 1242px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    align-items: center;
    align-self: center;
    height: 112px;
    padding: 0px 48px;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 1242px;
}

.nav-search {
    position: relative;
}

.nav-search .icone {
    position: absolute;
    top: 15px;
    right: 24px;
}

.nav-search input {
    height: 49px;
    width: 606px;
    display: flex;
    flex-basis: 300px;
    background-color: var(--background-search-bar);
    border: none;
    border-radius: 8px;
    color: var(--branco);
    font-size: 1em;
    padding-left: 24px;
}

.nav-search input::placeholder {
    color: var(--branco);
    opacity: 80%;
    font-weight: 300;
    
    font-size: 1em;
}

.nav-search input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

input:focus {
    border-color: var(--branco);
}

.nav-button button{
    padding: 12px 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--cor-principal-roxo);
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
}

@media screen and (max-width: 950px){
    .nav-search {
        display: none;
    }

    .nav-content {
        justify-content: space-between;
    }

    .menu-mobile-icon {
        display: block;
    }

    .nav-menu {
        padding: 0px 32px;
    }

    .nav-button {
        display: none;
    }

    .search-mobile-icon {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .nav-bg {
        height: 88px;
    }
    
    .nav-menu {
        height: 88px;
    }
}

/* Form cadastras 2 etapa */

.confirm-senha-bg {
    max-width: 100%;
    padding-top: 25px;
    padding-bottom: 307px;
    background-color: #F4F4F4;
}

.confirm-senha-content {
    height: 499px;
    max-width: 818px;
    background-color: var(--branco);
    border-radius: 8px;
    margin: 0px auto;
}

.content-margin {
    margin: 0 20px;
}

.cadastro-titulo h3 {
    text-align: center;
    padding-top: 32px;
    font-size: 24px;
    color: #333333;
    font-weight: 500;
    padding-bottom: 26px;
}

.cadastro-seletor-step {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    justify-content: center;
}

.linha {
    height: 2px;
    background-color: #800080;
    width: 114px;
}

.cadastro-seletor-step a {
    color: var(--branco);
    font-size: 16px;
    font-weight: 400;
}

.passo-2 a{
    color: var(--branco)
}

.passo-1 {
    height: 40px;
    width: 40px;
    background-color: #800080;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.passo-2 {
    height: 40px;
    width: 40px;
    background-color: var(--cor-principal-roxo);
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.step-texto {
    width: 114px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 72px;
    padding-bottom: 24px;
    margin: 0 auto;
}

.step-texto p {
    width: 84px;
    font-size: 14px;
    color: #333333;
    
}

.campos {
    max-width: 335px;
    margin: 0 auto;
}

.campos .senha label {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    display: flex;
    gap: 8px;
    padding-bottom: 8px;
}

.campos .senha span {
    color: var(--cor-principal-roxo);
}

.campos .senha input {

    height: 49px;
    border: 1px solid #D5D5D5;
    border-radius: 8px;
    display: flex;
    width: 335px;
    padding-left: 16px;
    flex: 1 1 335px;
    margin-bottom: 16px; 
}

.campos .senha input:focus{
    box-shadow: 0 0 0 1px var(--cor-principal-roxo);
    outline: none;
}

.button-criar-conta {
    max-width: 262px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal-roxo);
    border-radius: 8px;
}

.button-criar-conta a {
    color: var(--branco);
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 415px) {

    .campos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .campos .senha input {
        width: 270px;
    }

    .button-criar-conta {
        max-width: 270px;
    }
}

@media screen and (max-width: 340px) {

    .campos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .campos .senha input {
        width: 260px;
    }

    .button-criar-conta {
        max-width: 260px;
    }

    .content-margin {
        margin: 0 8px;
    }
}

/* Footer */

.footer-bg {
    max-width: 100%;
    background-color: var(--cor-principal-roxo);
    display: flex;
    flex: 1 1 1000px;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    padding-left: 331px;
    padding-top: 81px;
    flex: 1 1 500px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-image {
    padding-left: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    max-width: 51px;
    padding-bottom: 14px;
}

.image-content {
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    color: var(--branco);
    padding-top: 90px;
}

.image-content h4 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 29px;
}

.image-content p {
    font-size: 18px;
    font-weight: 400;
    max-width: 197px;
    line-height: 27px;
}

.links-footer a p{
    color: var(--branco);
    font-weight: 400;
    font-size: 1em;
    padding-bottom: 12px;
}

.links-footer{
    color: var(--branco);
    font-weight: 400;
    font-size: 1em;
}

.links-redes {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.links-redes p {
    padding-right: 8px;
}

.newsletter-link a {
    color: var(--branco);
}

.links-app-download img {
    max-width: 135px;
}

.links-app-download {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.links-app-download p {
    color: var(--branco);
}

@media screen and (max-width: 1700px) {
    .footer-content {
        padding-left: 186px;
    }
}

@media screen and (max-width: 1460px) {
    .footer-content {
        padding-left: 110px;
    }
}

@media screen and (max-width: 1270px) {
    .footer-content {
        padding-left: 40px;
    }
    .footer-image {
        padding-left: 32px;
    }
}

@media screen and (max-width: 650px) {
    .footer-bg {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-content {
        flex-direction: column;
        padding-left: 0px;
        align-items: center;
    }
    

    .footer-image {
        padding-top: 72px;
        padding-left: 0px;
    }

    .links-app-download {
        align-items: center;
    }

    .links-footer {
        text-align: center;
    }

    .footer-image img {
        object-fit: cover;
        max-width: 100%;
    }
}