* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --cor-principal-roxo: #800080;
    --background-search-bar: #680068;
    --branco: #ffffff;
}

/* Header */

.nav-logo img {
    padding: 10px;
}

.nav-bg {
    height: 112px;
    max-width: 100%;
    background-color: var(--cor-principal-roxo);
}

.menu-mobile-icon {
    display: none;
}

.search-mobile-icon {
    display: none;
}

.nav-menu {
    max-width: 1242px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    align-items: center;
    align-self: center;
    height: 112px;
    padding: 0px 48px;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 1242px;
}

.nav-search {
    position: relative;
}

.nav-search .icone {
    position: absolute;
    top: 15px;
    right: 24px;
}

.nav-search input {
    height: 49px;
    width: 606px;
    display: flex;
    flex-basis: 300px;
    background-color: var(--background-search-bar);
    border: none;
    border-radius: 8px;
    color: var(--branco);
    font-size: 1em;
    padding-left: 24px;
}

.nav-search input::placeholder {
    color: var(--branco);
    opacity: 80%;
    font-weight: 300;
    
    font-size: 1em;
}

.nav-search input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

input:focus {
    border-color: var(--branco);
}

.nav-button button{
    padding: 12px 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--cor-principal-roxo);
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
}

@media screen and (max-width: 950px){
    .nav-search {
        display: none;
    }

    .nav-content {
        justify-content: space-between;
    }

    .menu-mobile-icon {
        display: block;
    }

    .nav-menu {
        padding: 0px 32px;
    }

    .nav-button {
        display: none;
    }

    .search-mobile-icon {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .nav-bg {
        height: 88px;
    }
    
    .nav-menu {
        height: 88px;
    }
}

/* Cadastro */

.cadastro-bg {
    margin: 0 auto;
    max-width: 100%;
    padding-top: 24px;
    padding-bottom: 156px;
    background-color: #F4F4F4;
}

.cadastro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
}

.cadastro-titulo h3{
    font-size: 24px;
    color: #333333;
    font-weight: 600;
    padding-bottom: 26px;
}

.cadastro-seletor-step {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.linha {
    height: 2px;
    background-color: #800080;
    width: 114px;
}

.cadastro-seletor-step a {
    color: var(--branco);
    font-size: 16px;
    font-weight: 400;
}

.passo-2 a{
    color: var(--cor-principal-roxo);
}

.passo-1 {
    height: 40px;
    width: 40px;
    background-color: #800080;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.passo-2 {
    height: 40px;
    width: 40px;
    border: 1px solid var(--cor-principal-roxo);
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.step-texto {
    width: 114px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 72px;
    padding-bottom: 24px;
}

.step-texto p {
    width: 84px;
    font-size: 14px;
    color: #333333;
    
}

.todo-conteudo-formulario {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    max-width: 814px;
    margin: 0 auto;
}

.form-bg {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.formulario {
    display: flex;
    flex-direction: column;
    max-width: 532px;
}

.nome-sobrenome {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.nome-sobrenome label {
    color: #333333;
    font-size: 16px;
    padding-bottom: 8px;
    display: flex;
    gap: 8px;
}

.todo-conteudo-formulario span{
    color: var(--cor-principal-roxo);
}

.nome-sobrenome input {
    display: flex;
    flex: 1 1 49px;
    width: 532px;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid #D5D5D5;
    border-radius: 8px;
    outline: #800080;
    padding-left: 16px;
}

.formulario .nome-sobrenome input::placeholder {
    font-size: 14px;
    color: #777777;
}

.tres-form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 16px;
    padding-bottom: 21px;
}

.senha {
    max-width: 300px;
}

.tres-form {
    padding-top: 21px;
    display: flex;
    max-width: 532px;
}

.formulario2 {
    display: flex;
}

.formulario2 label {
    color: #333333;
    font-size: 16px;
    padding-bottom: 8px;
    display: flex;
    gap: 8px;
}

.tres-form .formulario2 input:focus {
    border-color: 1px solid #800080;
}

.formulario2 input {
    display: flex;
    width: 258px;
    flex-wrap: wrap;
    height: 49px;
    color: #777777;
    border-radius: 8px;
    border: 1px solid #D5D5D5;
    padding-left: 16px; 
    outline: #800080;
}

.formulario input:focus {
    border-color: var(--cor-principal-roxo);
}

.email {
    display: flex;
    flex-direction: column;
    padding-bottom: 21px;
    margin: 0 auto;
}

.email label {
    color: #333333;
    font-size: 16px;
    padding-bottom: 8px;
    display: flex;
    gap: 8px;
}

.email span {
    display: flex;
    gap: 8px;
}

.email input {
    height: 49px;
    color: #777777;
    border-radius: 8px;
    border: 1px solid #D5D5D5;
    padding-left: 16px;
    width: 532px;
    outline: #800080;
}

.email input:focus {
    border-color: 1px solid #800080;
}

.cep-endereco-container {
    display: flex;
    gap: 16px;
    padding-bottom: 21px;
}

.cep {
    display: flex;
    flex-direction: column;
    width: 182px;
}

.cep label {
    color: #333333;
    font-size: 16px;
    padding-bottom: 8px;
    display: flex;
    gap: 8px;
}

.cep input {
    display: flex;
    padding-left: 16px;
    flex: 1 1 49px;
    border-radius: 8px;
    border: 1px solid #D5D5D5;
    outline: #800080;
}

.endereco {
    display: flex;
    flex-direction: column;
    width: 384px;
}

.endereco label {
    color: #333333;
    font-size: 16px;
    padding-bottom: 8px;
    display: flex;
    gap: 8px;
}

.endereco input {
    display: flex;
    border: 1px solid #D5D5D5;
    height: 49px;
    border-radius: 8px;
    padding-left: 16px;
    outline: #800080;
}

.cep-endereco-container .endereco input::placeholder {
    color: #777777;
}

.numero-cidade-uf-container {
    display: flex;
    gap: 13px;
}

.numero {
    display: flex;
    flex-direction: column;
}

.numero label {
    color: #333333;
    font-size: 16px;
    padding-bottom: 8px;
    display: flex;
    gap: 8px;
}

.numero input {
    height: 49px;
    width: 182px;
    border-radius: 8px;
    padding-left: 16px;
    border: 1px solid #D5D5D5;
    outline: #800080;
}

.numero::placeholder {
    color: #777777;
}

.cidade {
    display: flex;
    flex-direction: column;
}

.cidade label {
    color: #333333;
    font-size: 16px;
    padding-bottom: 8px;
    display: flex;
    gap: 8px;
}

.cidade input {
    height: 49px;
    width: 182px;
    border: 1px solid #D5D5D5;
    padding-left: 16px;
    border-radius: 8px;
    outline: #800080;
}
.uf {
    display: flex;
    flex-direction: column;
}

.uf label {
    color: #333333;
    font-size: 16px;
    padding-bottom: 8px;
    display: flex;
    gap: 8px;
}

.uf select {
    height: 49px;
    width: 142px;
    color: #777777;
    padding: 0 16px;
    border: 1px solid #D5D5D5;
    border-radius: 8px;
    outline: none;
}

.button{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 262px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 48px;
}


.button a {
    display: flex;
    flex: 1 1 262px;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--branco);
    background-color: var(--cor-principal-roxo);
    border-radius: 8px;
}

@media screen and (max-width: 831px) {
    .todo-conteudo-formulario {
        max-width: 570px;
    }

    .nome-sobrenome input {
        width: 295px;

    }

    .tres-form {
        flex-direction: column;
    }
    
    .tres-form input{
        width: 295px;
    }

    .email input {
        width: 295px;
    }

    .cep-endereco-container {
        flex-direction: column;
        margin: 0 auto;
        width: 295px;
    }

    .cep-endereco-container input {
        width: 295px;
        margin: o auto;
    }

    .numero-cidade-uf-container {
        flex-direction: column;
    }

    .numero-cidade-uf-container input {
        width: 295px;
    }

    .numero-cidade-uf-container select {
        width: 295px;
    }

    .button {
        width: 295px;
    } 

}

@media screen and (max-width: 590px) {
    .todo-conteudo-formulario {
        max-width: 335px;
    }

    .endereco {
        width: 295px;
    }
}

/* Footer */

.footer-bg {
    max-width: 100%;
    background-color: var(--cor-principal-roxo);
    display: flex;
    flex: 1 1 1000px;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    padding-left: 331px;
    padding-top: 81px;
    flex: 1 1 500px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-image {
    padding-left: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    max-width: 51px;
    padding-bottom: 14px;
}

.image-content {
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    color: var(--branco);
    padding-top: 90px;
}

.image-content h4 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 29px;
}

.image-content p {
    font-size: 18px;
    font-weight: 400;
    max-width: 197px;
    line-height: 27px;
}

.links-footer a p{
    color: var(--branco);
    font-weight: 400;
    font-size: 1em;
    padding-bottom: 12px;
}

.links-footer{
    color: var(--branco);
    font-weight: 400;
    font-size: 1em;
}

.links-redes {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.links-redes p {
    padding-right: 8px;
}

.newsletter-link a {
    color: var(--branco);
}

.links-app-download img {
    max-width: 135px;
}

.links-app-download {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.links-app-download p {
    color: var(--branco);
}

@media screen and (max-width: 1700px) {
    .footer-content {
        padding-left: 186px;
    }
}

@media screen and (max-width: 1460px) {
    .footer-content {
        padding-left: 110px;
    }
}

@media screen and (max-width: 1270px) {
    .footer-content {
        padding-left: 40px;
    }
    .footer-image {
        padding-left: 32px;
    }
}

@media screen and (max-width: 650px) {
    .footer-bg {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-content {
        flex-direction: column;
        padding-left: 0px;
        align-items: center;
    }
    

    .footer-image {
        padding-top: 72px;
        padding-left: 0px;
    }

    .links-app-download {
        align-items: center;
    }

    .links-footer {
        text-align: center;
    }

    .footer-image img {
        object-fit: cover;
        max-width: 100%;
    }
}


