* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --cor-principal-roxo: #800080;
    --background-search-bar: #680068;
    --branco: #ffffff;
}

/* Header */

.nav-logo img {
    padding: 10px;
}

.nav-bg {
    height: 112px;
    max-width: 100%;
    background-color: var(--cor-principal-roxo);
}

.menu-mobile-icon {
    display: none;
}

.search-mobile-icon {
    display: none;
}

.nav-menu {
    max-width: 1242px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    align-items: center;
    align-self: center;
    height: 112px;
    padding: 0px 48px;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 1242px;
}

.nav-search {
    position: relative;
}

.nav-search .icone {
    position: absolute;
    top: 15px;
    right: 24px;
}

.nav-search input {
    height: 49px;
    width: 606px;
    display: flex;
    flex-basis: 300px;
    background-color: var(--background-search-bar);
    border: none;
    border-radius: 8px;
    color: var(--branco);
    font-size: 1em;
    padding-left: 24px;
}

.nav-search input:focus {
    outline: #DDC3DD;
    box-shadow: 0 0 0 1px var(--branco);
}

.nav-search input::placeholder {
    color: var(--branco);
    opacity: 80%;
    font-weight: 300;
    
    font-size: 1em;
}

.nav-search input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

input:focus {
    border-color: var(--branco);
}

.nav-button button{
    padding: 12px 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--cor-principal-roxo);
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
}

@media screen and (max-width: 950px){
    .nav-search {
        display: none;
    }

    .nav-content {
        justify-content: space-between;
    }

    .menu-mobile-icon {
        display: block;
    }

    .nav-menu {
        padding: 0px 32px;
    }

    .nav-button {
        display: none;
    }

    .search-mobile-icon {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .nav-bg {
        height: 88px;
    }
    
    .nav-menu {
        height: 88px;
    }
}

/* Banner da página */

.cupom-page-bg {
    max-width: 100%;
    background-color: #F4F4F4;
}

.banner-cupom-page img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.infomation-bg {
    max-width: 1242px;
    margin: 0 auto;
    
}

.cupom-content {
    max-width: 1242px;
    display: flex;
    flex: 1 1 1;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 88px;
    margin-left: 24px;
    margin-right: 24px;
}

.cupom-information {
    max-width: 533px;
}

.cupom-information h2 {
    font-size: 40px;
    color: #333333;
    font-weight: 600;
    padding-bottom: 12px;
}

.score-and-location {
    display: flex;
}

.costumers-score {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-right: 24px;
    padding-bottom: 24px;
}

.costumers-score p {
    font-size: 14px;
    color: #777777;
}

.costumers-score img {
    height: 20px;
}

.location-icon {
    display: flex;
    width: 200px;
    height: 18px;
    gap: 8px;
    align-items: center;
}

.location-icon p {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
}

.location-icon img {
    height: 18px;
}

.price-before p {
    color: #292929;
    font-size: 14px;
    font-weight: 500;
}

.price-before span {
    text-decoration: line-through;
    text-decoration-color: #292929;
}

.price-after {
    padding-top: 10px;
    padding-bottom: 32px;
}

.price-after sub {
    font-size: 14px;
    color: var(--cor-principal-roxo);
    font-weight: 500;
}

.price-after p {
    color: var(--cor-principal-roxo);
    font-weight: 600;
    font-size: 32px;
}

.description-1 h5 {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    padding-bottom: 12px;
}

.description-1 p {
    max-width: 506px;
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5A;
    padding-bottom: 16px;
}

.share-button {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.share-button a{
    padding: 9px 20px;
    background-color: #7C7C7C;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    color: var(--branco);
    font-size: 16px;
    font-weight: 400;

}

/* Seção de disponíbilidade */

.store-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    margin-left: 20px;
}

.week-calendar {
    display: flex;
    justify-content: space-between;
}

.week-calendar ul{
    max-width: 328px;
    display: flex;
    width: 40px;
    height: 40px;
    gap: 8px;
}

.week-calendar li {
    background-color: #DDC3DD;
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disponibility ul {
    display: flex;
    gap: 8px;
}

.disponibility li {
    background-color: #EEDDDD;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.disponibility li:nth-child(1){
    background-color: #E0EBDE;
}

.disponibility li:nth-child(2){
    background-color: #E0EBDE;
}

.disponibility p {
    padding-top: 16px;
    padding-bottom: 40px;
    color: #0D6416;
    font-size: 16px;
    font-weight: 400;
}

.buy-alert p {
    font-size: 15px;
    color: #E37303;
    font-weight: 400;
}

.buy-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buy-icon {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--branco);
    font-size: 16px;
    font-weight: 400;
}

.buy-alert {
    max-width: 328px;
}

.store-card a{
    display: flex;
    width: 328px;
    background-color: var(--branco);
    height: 87px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.store-card-text h5 {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    padding-bottom: 4px;
}

.store-card-text p {
    max-width: 210px;
    font-size: 14px;
    color: #5C5C5C;
}

@media screen and (max-width: 800px){

    .cupom-content {
        flex-wrap: wrap;
        gap: 24px;
        max-width: 700px;
        
    }

    .store-information {
        margin-left: 0px;
    }
}

@media screen and (max-width: 500px){

    .score-and-location {
        flex-wrap: wrap;
    }

    .costumers-score {
        align-items: center;
        padding-right: 24px;
        padding-bottom: 24px;
    }
    .location-icon {
        padding-bottom: 24px;
    }

    .price-after {
        padding-top: 8px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 370px){

    .week-calendar {
        display: flex;
        justify-content: space-between;
    }

    .week-calendar ul{
        max-width: 328px;
        display: flex;
        width: 32px;
        height: 40px;
        gap: 4px;
    }

    .disponibility ul {
        display: flex;
        gap: 6px;
    }
    
    .disponibility li {
        background-color: #EEDDDD;
        height: 40px;
        width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
    }

    .buy-button img{
        max-width: 300px;
    }

    .buy-alert {
        max-width: 300px;
    }

    .store-card {
        max-width: 300px;
    }

    .store-card-text {
        max-width: 170px;
    }

    .cupom-content {
        margin-left: 16px;
        margin-right: 16px;
    }
}



/* Footer */

.footer-bg {
    max-width: 100%;
    background-color: var(--cor-principal-roxo);
    display: flex;
    flex: 1 1 1000px;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    padding-left: 331px;
    padding-top: 81px;
    flex: 1 1 500px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-image {
    padding-left: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    max-width: 51px;
    padding-bottom: 14px;
}

.image-content {
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    color: var(--branco);
    padding-top: 90px;
}

.image-content h4 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 29px;
}

.image-content p {
    font-size: 18px;
    font-weight: 400;
    max-width: 197px;
    line-height: 27px;
}

.links-footer a p{
    color: var(--branco);
    font-weight: 400;
    font-size: 1em;
    padding-bottom: 12px;
}

.links-footer{
    color: var(--branco);
    font-weight: 400;
    font-size: 1em;
}

.links-redes {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.links-redes p {
    padding-right: 8px;
}

.newsletter-link a {
    color: var(--branco);
}

.links-app-download img {
    max-width: 135px;
}

.links-app-download {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.links-app-download p {
    color: var(--branco);
}

@media screen and (max-width: 1700px) {
    .footer-content {
        padding-left: 186px;
    }
}

@media screen and (max-width: 1460px) {
    .footer-content {
        padding-left: 110px;
    }
}

@media screen and (max-width: 1270px) {
    .footer-content {
        padding-left: 40px;
    }
    .footer-image {
        padding-left: 32px;
    }
}

@media screen and (max-width: 650px) {
    .footer-bg {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-content {
        flex-direction: column;
        padding-left: 0px;
        align-items: center;
    }
    

    .footer-image {
        padding-top: 72px;
        padding-left: 0px;
    }

    .links-app-download {
        align-items: center;
    }

    .links-footer {
        text-align: center;
    }

    .footer-image img {
        object-fit: cover;
        max-width: 100%;
    }
}