/* Container principal da página */

.content-bg {
    max-width: 100%;
    background-color: #f4f4f4;
}

.payment-content {
    max-width: 1135px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}

.payment-title h2 {
    color: #222222;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 32px;
}

.payment-options {
    display: flex;
    flex-direction: column;
    flex: 1 1 710px;
}

.payment-pix {

    display: flex;
    align-items: center;
    background-color: var(--branco);
    max-width: 710px;
    padding: 20px;
    gap: 15px;
    cursor: pointer;
    margin-bottom: 16px;
    border-radius: 4px;

}

.payment-pix input {
    height: 16px;
    width: 16px;
    border: 2px solid #777777;
}

.payment-pix a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #333333;
    font-weight: 500;
}

.payment-credit {

    display: flex;
    align-items: center;
    background-color: var(--branco);
    max-width: 710px;
    padding: 20px;
    gap: 15px;
    cursor: pointer;
    margin-bottom: 16px;
    border-radius: 4px;
    
}

.payment-credit a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #333333;
    font-weight: 500;
}

.payment-credit input {
    height: 16px;
    width: 16px;
    border: 2px solid #777777;
}

.payment-money {

    display: flex;
    align-items: center;
    background-color: var(--branco);
    max-width: 710px;
    padding: 20px;
    gap: 15px;
    cursor: pointer;
    margin-bottom: 16px;
    margin-bottom: 476px;
    border-radius: 4px;

}

.payment-money a{

    display: flex;
    align-items: center;
    gap: 12px;
    color: #333333;
    font-weight: 500;
    
}

.payment-money input {
    height: 16px;
    width: 16px;
    border: 2px solid #777777;
}

.resume-information-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.resume {
    display: flex;
    flex-direction: column;
    max-height: 232px;
    flex: 1 1 394px;
    background-color: var(--branco);
    margin-left: 32px;
    padding-top: 20px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 8px;
}

.resume h3 {
    font-size: 20px;
    color: #800080;
    font-weight: 500;
    padding-bottom: 16px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 32px;
}

.resume-product {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;
}

.product-left {
    display: flex;
    gap: 12px;
}

.resume-text {
    max-height: 67px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resume-price p{

    color: #800080;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    width: 125px;
    justify-content: flex-end;

}

.resume-information {
    display: flex;
    flex-direction: column;
    max-height: 354px;
    flex: 1 1 394px;
    background-color: var(--branco);
    margin-left: 32px;
    padding-top: 20px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 8px;
}

.resume-information h3{
    font-size: 20px;
    color: #800080;
    font-weight: 500;
    padding-bottom: 16px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 32px;
}

.product-information {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
    max-width: 394px;
}

.product-information-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-information-text span {
    font-weight: 500;
    color: #333333;
    font-size: 14px;
}

.product-information-text p {
    font-weight: 400;
    color: #333333;
    font-size: 14px;
}

.product-information-text h5 {
    font-weight: 500;
    color: #038000;
    font-size: 14px;
}

@media screen and (max-width: 1180px) {
    
    .payment-content {

        margin: 0px 32px;

    }

    .payment-options {
        margin-left: 0.1px;
    }

}

@media screen and (max-width: 800px) {
    
    .payment-content {
        margin: 0px 32px;
        flex-wrap: wrap;
    }

    .payment-money {

        margin-bottom: 40px;
    
    }

    .resume {
        display: flex;
        flex: 1 1 600px;
        margin-left: 0px;
    }

    .resume-information {

        margin-left: 0px;
        margin-bottom: 112px;
    }

}

@media screen and (max-width: 420px){

    .payment-content {
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0px 24px;
    }

    .payment-title h2{
        font-size: 24px;
    }

    .resume {
        max-width: 335px;
        max-height: 232px;
        flex: 1 1 320px;
    }

    .resume-price p{
        justify-content: flex-start;
    }

}

@media screen and (max-width: 380px){

    .payment-content {
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0px 16px;
    }

    .payment-title h2{
        font-size: 24px;
    }

    .resume {
        max-width: 314px;
        max-height: 232px;
        flex: 1 1 300px;
    }

    .resume-price p{
        justify-content: flex-start;
        width: 100px;
        padding-right: 12px;
    }

}