/* Container principal da página */

.content-bg {
    max-width: 100%;
    background-color: #f4f4f4;
}

.payment-content {
    max-width: 1135px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}

.payment-title h2 {
    color: #222222;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 32px;
}

.payment-options {
    display: flex;
    flex-direction: column;
    flex: 1 1 710px;
}

.payment-pix {

    display: flex;
    align-items: center;
    background-color: var(--branco);
    max-width: 710px;
    padding: 20px;
    gap: 15px;
    cursor: pointer;
    margin-bottom: 16px;
    border-radius: 4px;

}

.payment-pix input {
    height: 16px;
    width: 16px;
    border: 2px solid #777777;
}

.payment-pix a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #333333;
    font-weight: 500;
}

.payment-credit {

    display: flex;
    align-items: center;
    background-color: var(--branco);
    max-width: 710px;
    padding: 20px;
    gap: 15px;
    cursor: pointer;
    margin-bottom: 16px;
    border-radius: 4px;
    
}

.payment-credit a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #333333;
    font-weight: 500;
}

.payment-credit input {
    height: 16px;
    width: 16px;
    border: 2px solid #777777;
}

.payment-money {

    display: flex;
    align-items: center;
    background-color: var(--branco);
    max-width: 710px;
    padding: 20px;
    gap: 15px;
    cursor: pointer;
    margin-bottom: 16px;
    margin-bottom: 476px;
    border-radius: 4px;

}

.payment-money a{

    display: flex;
    align-items: center;
    gap: 12px;
    color: #333333;
    font-weight: 500;
    
}

.payment-money input {
    height: 16px;
    width: 16px;
    border: 2px solid #777777;
}

.resume {
    display: flex;
    flex-direction: column;
    max-height: 232px;
    flex: 1 1 394px;
    background-color: var(--branco);
    margin-left: 32px;
    padding-top: 20px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 8px;
}

.resume h3 {
    font-size: 20px;
    color: #800080;
    font-weight: 500;
    padding-bottom: 16px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 32px;
}

.resume-product {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;
}

.product-left {
    display: flex;
    gap: 12px;
}

.resume-text {
    max-height: 67px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resume-price p{

    color: #800080;
    font-size: 16px;
    font-weight: 500;

}
